:root{
 --celeste: #d8dbd5;
 --tan-hide: #f98f53;
 --blue: #1C98A1;
 --flame: #E1583E;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:  var(--celeste);
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
                
}
/* HEADER / NAV BAR STYLES START */
header{
    background-color: var(--flame);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px
}
header h1{
    font-size: 36px;
    font-weight: bold;
    background-color: var(--blue);
    padding-right:100px ;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
       
}
header h1 a{    
    color: var(--celeste);
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.6vw;
    color: var(--celeste);
    text-decoration:underline;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    header nav ul li a:hover {
        background: var(--blue);
        color:var(--flame);
        border-radius: 15px;
        text-shadow: none;     
    }
    article{
        display: flex;
        margin: 10px;        
    }
/* HERO SECTION STYLE */    
.hero{
    background-image: url("../images/hero-image.jpg");
    background-position: bottom;
    padding: 50px 35px;
    background-size:cover;
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
            
}
.hero img{
    border-radius: 15px;
    border-style:  solid;
    border-color: var(--blue);
    transform: rotate(-8deg);
    box-shadow: 10px 10px 5px #aaaaaa;
}
.hero h2{
    color: var(--celeste);
    position: relative; 
    background-color: var(--blue);
    float: right;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
       
                        
}
/*CONTENT SECTION STYLE START*/
.content{
    display: inline-block;
    margin: 20px;
}

.section-title{
    font-size: 50px;
    color: var(--flame);
    text-align: right;
    border-right: solid var(--flame);
    margin-right: 35px;
    padding-right: 10px;
    margin-top: 10px;
    float: left;    
    flex: 1;
    }
.about-me h4 {
    text-align: justify;
    margin-top:10px;
    font-size: 18px;
    font-weight:bolder;
    color: var(--blue);
}
.works{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.work-info{
   flex-wrap: wrap;
   margin:10px;
   border: 3px solid var(--flame);
   position: relative;
         
}
.work-description{
    background-color: var(--flame);
    color: var(--celeste);
    font-size: 20px;
    max-width: fit-content;
    position: absolute;
    bottom: 30px;
    padding: 5px;
    
}
.work-info img{
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 400px;
    opacity: 0.5;
    }
.work-info img:hover{
    opacity: 1;
}
.column-right{
        flex: 3
    }
    
.contact-me div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    padding-top: 25px; 
    }
.contact-info ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;        
}
.contact-info ul li{
    color: var(--blue);
    text-decoration: underline;
    text-decoration-color: var(--flame);
    text-decoration-thickness: 3px;
}
.contact-info ul li a{
color: var(--blue);
text-decoration-color: var(--flame);
text-decoration-thickness: 3px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }
    header nav ul {
        
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 2.5vw;
    }       
    .section-title{
        font-size: 40px;       
    }
    .works{
        justify-content: center;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px){
    header nav ul li a {
        font-size: 30px;
    }
   .hero h2 {
    float: none;
    justify-content: center;
    text-align: center;    
   } 
   .content{
    display: inline-block;
    margin: 20px;
    }
    .section-title {
    float: none;
    text-align: center;
    border-right: none;
    border-bottom: solid;
    margin-right: 0px;
    padding-right: 0px;
    }
    .about-me{
    display: block;    
    }

    
    .my-work{
    display: block;
    }
    .work-description {
    top: 0;
    padding: 5px;
    bottom: unset;
    }
    .contact-me{
    display: block;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

 .contact-info ul{
    display: block;
 }
 .contact-info li {
    text-align: center;
    padding: 10px 0px;
 }
 .work-description {
    max-width: unset;
    width: 100%;
    text-align: center;
 }

 
}